

body {
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li  {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}

li:nth-child(2n){
	background: #f7f7f7;
}
span {
	background: red;
	width: 0px;
	height: 40px;
	color: white;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
	transition: 0.2s linear;
	opacity: 0;
}


h1 {
	background: #2980b9;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: white;
}

input {
	font-size: 18px;
	width: 100%;
	background: #f7f7f7;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}


input:focus {
	outline: none;
	background: #fff;
	border: 3px solid #2980b9;

}


#container {
	
	width: 360px;
	margin: 100px auto;
	/*border: 2px solid gray;*/
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-edit {
	float: right;
}